<!-- Sidebar -->
  <nav [@slideInOut]="menuState" class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul id="list-sidebar">
      <div id="title">
        <h2><span class="fa fa-circle-o" style="color:#5899e2;"></span> Merkury</h2>
      </div>
      <li><span class="glyphicon glyphicon-home"></span> Home</li>
      <li><span class="glyphicon glyphicon-align-justify"></span> Workflow</li>
      <li><span class="fa fa-line-chart"></span> Statistics</li>
      <li><span class="glyphicon glyphicon-calendar"></span> Calendar</li>
      <li id="usersModal"><span class="glyphicon glyphicon-user"></span> Users</li>
      <li><span class="glyphicon glyphicon-cog"></span> Settings</li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->