
/* NAVIGATION SIDE BAR*/
body{
    bottom: 0;
}
#sidebar-wrapper{
    background-color: #222947; 
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}

#title {
    margin-top: 8px;
    height: 50px;
    margin-left: 30px;
}
#list-sidebar {
    list-style-type: none;
    margin: 2px;
    padding: 0;
    color: white;
    height: 86vh;
}

#list-sidebar li {
    padding-left: 24px;
    width: 248px;
    font-size: 18px;
    font-family: Euphemia;
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
}

#list-sidebar li span {
    color: #5856e2;
}

#list-sidebar li:hover {
    background-color: #272a61;
    border-left: 5px solid #5d8ccf;
    cursor: pointer;
    margin-left: -5px;
}

@media (max-width: 768px) {
 
    .navbar-collapse {
        background: #cccccc; /*replace with desired color*/
    }

    .navbar > .container {
        max-width: 100%;
        padding: 0;
    }
    #sidebar-wrapper{
        left: -250px;
    }
    .main{
        position: absolute;
    }

}

@media (min-width: 768px) {
    main{
        margin-left: 250px;
    }

    .position{
        position: absolute;
    }
}

/*-------------MAIN Content--------------*/
h1{
    font-weight: bold;
}
main{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
}
/*NAVIGATION TOP BAR*/
#topbar-wrapper{
    padding-top: 20px;
    padding-bottom: 20px;
}
#left-topbar .fa-search{
 margin-left:10px;
}

#topbar-collapse-button{
    margin-bottom: 0px;
}

#add-project-btn h4{
 font-size: small;
}

.navbar-right li {
    margin-right: 1.5em;
}
.navbar-right li a{
    padding: 0px;
}
#letter-icon{
    font-size: 2em;
}

#add-project-btn{/*add project button*/

    background-color: #4286f4;
    color: white;
    border: 1px solid #4286f4;

    border-radius: 30px;   
    padding: 5px,10px;
    margin-right: 3em;

}
/*-------Page Content------ */
#page-content-wrapper{
    margin: 2em;
}
.box{
    background-color: #f9f9f9;
    border-radius: 2px;   
    height: 350px;
     margin-bottom: 2em;
    
}
@media (min-width: 920px) {
.flex-up-container, .flex-bottom-container{
    display: flex;
   
}
.flex-up-container{
    justify-content: space-between;
}
.flex-bottom-container{
    flex-wrap: wrap;
    justify-content: space-around;
}
.bottom-box{
    width: 320px;
}
}


#up-box-1{
    flex-basis: 40%
}
#up-box-2{
    flex-basis:55%

}
/*makes the images in boxes be in center*/
.up-box{
    display: flex;
}
img{
    margin: auto;   
}
/*-------------*/
.flex-bottom-container{
    
}
