<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
    <ul id="list-sidebar">
      <div id="title">
        <h2><span class="fa fa-circle-o" style="color:#5899e2;"></span> Merkury</h2>
      </div>
      <li><span class="glyphicon glyphicon-home"></span> Home</li>
      <li><span class="glyphicon glyphicon-align-justify"></span> Workflow</li>
      <li><span class="fa fa-line-chart"></span> Statistics</li>
      <li><span class="glyphicon glyphicon-calendar"></span> Calendar</li>
      <li id="usersModal"><span class="glyphicon glyphicon-user"></span> Users</li>
      <li><span class="glyphicon glyphicon-cog"></span> Settings</li>
    </ul>
  </nav>
  <!-- /#sidebar-wrapper -->


  <main>

    <!--topbar wrapper-->
    <nav class="navbar navbar-default" id="topbar-wrapper">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" id="topbar-collapse-button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
   
          <div id="left-topbar">
            <span class="fa fa-caret-left" style="color:#2aabd2;font-size: 20px;"></span>
            <span class="glyphicon glyphicon-menu-hamburger"></span>
            <span class="fa fa-search" style="font-size: 20px;"></span>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
    
          <ul class="nav navbar-nav navbar-right">
            <li> <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-plus"></span>Add Project</h4></li>
            <li><span class="glyphicon glyphicon-envelope" ng-click="mailTo()"></span></li>
            <li>
              <span class="fa fa-bell" style="font-size: 20px;">
                            <span  class="badge">3</span>
              </span>
            </li>
            <li><span class="fa fa-user-circle"></span></li>
            <li><span class="fa fa-caret-down" style="font-size: 20px;"></span></li>
          </ul>
        </div>
      </div>
    </nav>
        <!--/#top navbar wrapper-->
    <!-- Page Content -->
    <div id="page-content-wrapper">
      <h1>Hello John</h1>
    </div>
    <!-- /#page-content-wrapper -->
  </main>


</div>
<!-- /#wrapper -->
<h1>
  {{title}}
</h1>