/*-------Page Content------ */
h1{
    font-weight: bold;
}
#page-content-wrapper{
    margin: 2em;
}
.box{
    background-color: #f9f9f9;
    border-radius: 2px;   
    height: 350px;
     margin-bottom: 2em;
    
}
@media (min-width: 920px) {
.flex-up-container, .flex-bottom-container{
    display: flex;
   
}
.flex-up-container{
    justify-content: space-between;
}
.flex-bottom-container{
    flex-wrap: wrap;
    justify-content: space-around;
}
.bottom-box{
    width: 320px;
}
}


#up-box-1{
    flex-basis: 40%
}
#up-box-2{
    flex-basis:55%

}
/*makes the images in boxes be in center*/
.up-box{
    display: flex;
}
img{
    margin: auto;   
}
/*-------------*/
.flex-bottom-container{
    
}