 <!-- Page Content -->
    <div id="page-content-wrapper">
      <h1>Hello John</h1>
      <!-- up boxes-->
      <div class="flex-container flex-up-container">
        <div class="box up-box" id="up-box-1">
<img src="https://s3.amazonaws.com/cocoacontrols_production/uploads/control_image/image/10781/IMG_1279_03.37.18.PNG" style=" max-height: 100%; max-width: 100%">
        </div>
        <div class="box up-box" id="up-box-2">
<img src="http://www.adsum.net/starthere/img/graph-img.png" style="max-height: 100%; max-width: 100%">
        </div>
      </div>
      <!-- /#up boxes wrapper-->
      <!-- bottom boxes-->
      <div class="flex-container flex-bottom-container">
        <div class="box bottom-box" id="bottom-box-1">

        </div>
        <div class="box bottom-box" id="bottom-box-2">

        </div>
        <div class="box bottom-box" id="bottom-box-3">

        </div>
      </div>
    </div>
    <!-- /#page-content-wrapper -->